<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>W.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>362521821ECD4B8C00242DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>362521961ECD4B8C00242DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>362521A11ECD4B8C00242DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8131263246A977DB95C09EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8131831F2C5C8D010880BE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A81319BEBC2BB6016C380842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
